//Replace with your network credentials
//It's in this separate file to avoid credentials being commited to the REPO
//credentials.h is in the .gitignore file
const char *ssid = "YOURSSID";
const char *password = "YOURPWD";